.navbar {
  background-color: #148ab8;
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
}

.nav-link{
     color: #FFFFFF;
     font-family: 'Open Sans', sans-serif;
}

