{% extends "layout.html" %}

<style>
    .form-container {
        width: 300px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin: 50px auto;
        background-color: #f9f9f9;
    }
    .form-container h2 {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    .form-container label {
        display: block;  /* Make sure label is block-level */
        margin-bottom: 5px; /* Add some space below the label */
        font-size: 14px;
        color: #333;
    }
    .form-container select,
    .form-container input[type="datetime-local"],
    .form-container button {
        width: 100%; /* Ensure input fields take full width */
        padding: 10px;
        margin-bottom: 10px; /* Add space between inputs */
        border-radius: 4px;
        border: 1px solid #ccc;
        box-sizing: border-box;  /* Ensures padding is included in width calculation */
    }
    .form-container input[type="datetime-local"] {
        font-family: 'Open Sans', sans-serif;  /* Ensures the font is consistent */
    }
    .form-container button {
        background-color: #148ab8;
        color: white;
        border: none;
        cursor: pointer;
    }
    .form-container button:hover {
        background-color: #117a98;
    }
</style>

{% block title %}
<h1 style="font-family: 'Orbitron', sans-serif; color: #148ab8; padding: 20px; text-align: center;">Vyber, srovnej, rozhodni. Kryptoměnové souboje začínají právě teď!</h1>
{% endblock %}

{% block content %}
    <div class="form-container" style="text-align: center; font-family: 'Open Sans', sans-serif;">
        <h2>Si fanouškem kryptoměn, ale ztrácíš se v grafech a statistikách? Nevadí! Naše aplikace je tvůj spolehlivý průvodce kryptosvětem. Srovnávej dvě kryptoměny najednou, objevuj jejich silné stránky, slabiny a zjisti, která z nich má navrch. Případně kryptoměnu srovnej s indexem S&P 500 nebo inflací. Ať už se rozhoduješ, kam investovat, nebo jen chceš mít přehled, my ti ukážeme fakta jasně a srozumitelně.</h2>
        <form method="POST" action="{{ url_for('comparison') }}">
            <!-- Cryptocurrency selection -->
            <label for="cryptocurrency">Cryptocurrency:</label>
            <select name="cryptocurrency" id="cryptocurrency">
                {% for crypto in cryptocurrencies %}
                    <option value="{{ crypto }}">{{ crypto }}</option>
                {% endfor %}
            </select>

            <!-- Comparison selection -->
            <label for="comparison">Srovnání:</label>
            <select name="comparison" id="comparison">
                {% for compare in comparisons %}
                    <option value="{{ compare }}">{{ compare }}</option>
                {% endfor %}
            </select>

            <!-- Date and Time selection -->
            <label for="end_time">Vyberte datum:</label>
            <input type="date" name="date" id="end_time" name="end_time">

            <!-- Submit button -->
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>

        {% if posted %}
            <div>
                <img src="media/crypto.png" alt="Graph"" />
            </div>
        {% endif %}

{% endblock %}


