{% extends "layout.html" %}

    <style>
        .form-container {
            width: 300px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            margin: 50px auto;
            background-color: #f9f9f9;
        }
        .form-container h2 {
            text-align: center;
        }
        .form-container select,
        .form-container button {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 4px;
            border: 1px solid #ccc;
        }
        .form-container button {
            background-color: #148ab8;
            color: white;
            border: none;
            cursor: pointer;
        }
        .form-container button:hover {
            background-color: #117a98;
        }
    </style>

{% block title %}
<h1 style="font-family: 'Orbitron', sans-serif; color: #148ab8; padding: 20px; text-align: center;">Comparison</h1>
{% endblock %}

{% block content %}
    <div class="form-container">
        <h2 style="text-align: center; font-family: 'Open Sans', sans-serif;">Please select crypocurrency and what you want to compare it with.</h2>
            <form method="POST" action="{{ url_for('result_comparison') }}" style="text-align: center;">
            <label for="cryptocurrency">Cryptocurrency:</label>
            <select name="cryptocurrency" id="cryptocurrency">
                {% for crypto in cryptocurrencies %}
                    <option value="{{ crypto }}">{{ crypto }}</option>
                {% endfor %}
            </select>

            <label for="comparison">Comparison:</label>
            <select name="comparison" id="comparison">
                {% for compare in comparisons %}
                    <option value="{{ compare }}">{{ compare }}</option>
                {% endfor %}
            </select>

            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}